html, body {
  overflow: hidden;
  margin: 0;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-color: #524115;
  /*cursor: url("./resources/cursor.png"), auto;*/
}

#chatbox {
  position: absolute;
  width: 300px;
  height: 30px;
  bottom: 0px;
  left: 40%;
}

#disctd {
  background-color: #d9d3ce;
  vertical-align: top;
  padding: 10px 10px 10px 10px;
  width: 99%;
  border: 20px solid #524115;
}